$max-mobile: "(max-width: 767px)";
$max-small: "(max-width: 991px)";
$min-small: "(min-width: 768px)";
$min-medium: "(min-width: 992px)";
$min-large: "(min-width: 1200px)";

$red-color: #e2494c;
$grey-color: #9c9c9c;

$float-left: left;
$float-right: right;

$text-right: right;
$text-left: left;