* {
    @include prefixer(box-sizing, border-box, webkit moz);
}

.container {
    width: 1200px;
    margin: auto;
    padding-top: 15px;
    padding-right: 15px;
    position: relative;
    @media #{$min-small} {
        width: 750px;
    }
    @media #{$min-medium} {
        width: 970px;
    }
    @media #{$min-large} {
        width: 1170px;
    }
}

.clear-fix {
    clear: both;
}